
<table>
  <tr>
<% compare_list.each do |thing| %>
  
  <td>
    <a href="javascript: void(0);" class='select' data-id="<%= thing['id'] %>"><img src="<%= 'http://' + thing['data']['pic'] %>" /></a>

    
    <%#= thing['data']['author'] %> <%#= thing['name'] %> 
    <p>count: <%= thing['count'] %></p>
    <input type="hidden" name="things[]" value="<%= thing['id'] %>" />

  </td>
<% end %>
  </tr>
</table>