<p id="game-notice" style="display:none;font-size: 14px; color: red;">答错了, <a href="/">确定重来</a></p>

<p>当前在关数: <span id="level">1</span></p>

<div id="list">
  <%= render 'home/list', :show_things => @show_things %>
</div>

